/*couleurs*/
.claire{
    filter: brightness(110%);
}
.sombre{
    filter: brightness(90%);
}
.vert1{
    background-color: rgb(16, 46, 3);
}
.vert2{
    background-color: rgb(79, 189, 29);
}
.vert3{
    background-color: rgb(89, 255, 67);
}
.bleu1{
    background-color: rgb(2, 26, 34);
}
.bleu2{
    background-color: rgb(0, 86, 107);
}
.bleu3{
    background-color: rgb(97, 187, 209);
}
.rouge1{
    background-color: rgb(44, 1, 1);
}
.rouge2{
    background-color: rgb(150, 18, 29);
}
.rouge3{
    background-color: rgb(230, 18, 18);
}
.noire{
    background-color: rgb(0, 0, 0);
}
.blanc{
    background-color: rgb(255, 255, 255);
}
/*dimensions*/
.total{
    width: 100%;
    height: 100%;
}
.demiLarge{
    width: 100%;
    height: 50%;
}
.demiLong{
    width: 50%;
    height: 100%;
}
.bloc1{
    width: 50%;
    height: 50%;
}
.carre1{
    width: 10vh;
    height: 10vh;
}
/*opacite*/
.transparent1{
    opacity: 95%;
}
.transparent2{
    opacity: 85%;
}
.transparent3{
    opacity: 70%;
}
/*position*/
.imobile{
    position: fixed;
}
.mobile{
    position: absolute;
}
.superposition1{
    z-index: 10;
}
.superposition2{
    z-index: 20;
}
.superposition3{
    z-index: 30;
}
/*animation css*/
.pivotInfini{
    animation: tourne 1s linear 0s infinite;
}
@keyframes tourne {
    0%{transform: rotate(5deg);}
    100%{transform: rotate(10000deg);}
}
.pivotSimple{
    animation: tourne 2s linear 0s 1;
}
@keyframes tourne {
    0%{transform: rotate(5deg);}
    100%{transform: rotate(360deg);}
}
.apparition{
    animation: apparai 1s ease-out 0s 1 ;
}
@keyframes apparai {
    0%{left: -200vh;}
    100%{left: 0vh;}
}
/*police*/
.police1{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.police2{
    font-family: Arial, Helvetica, sans-serif;
}
/*forme*/
.rond{
    border-radius: 50%;
}
/*style*/
.ombre{
    box-shadow: 1px 1px 2px 2px rgba(17, 17, 17, 0.247);
}
.survolN:hover{
    filter: brightness(70%);
}
.survolB:hover{
    filter: brightness(150%);
}